body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}
/* HERO SECTION BACKGROUND */
.hero-section {
  background-color: #000000;
}

/* Text colors inside hero */
.hero-section h1,
.hero-section p,
.hero-section del {
  color: #ffffff;
}

.hero-section del {
  opacity: 0.6;
}
.hero-bg {
  background-color: #000000;
}
/* Hide scrollbar for Chrome, Edge, Safari */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}



