body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.hero-section {
  background-color: #000000;
}


.hero-section h1,
.hero-section p,
.hero-section del {
  color: #ffffff;
}

.hero-section del {
  opacity: 0.6;
}
.hero-bg {
  background-color: #000000;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}


.hide-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;    
}
.cart-scroll {
  max-height: 450px;  
  overflow-y: auto;   
}



