body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.hero-section {
  background-color: #000000;
}


.hero-section h1,
.hero-section p,
.hero-section del {
  color: #ffffff;
}

.hero-section del {
  opacity: 0.6;
}
.hero-bg {
  background-color: #000000;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}


.hide-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;    
}
.cart-scroll {
  max-height: 450px;  
  overflow-y: auto;   
}
.cart-scroll {
  max-height: 420px;       
  overflow-y: auto;
}


.cart-scroll::-webkit-scrollbar {
  display: none;
}


.cart-scroll {
  scrollbar-width: none;
}


.cart-scroll {
  -ms-overflow-style: none;
}
::selection{
  background-color: orangered;
  color: white;
}
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-box {
  background: black;
  color: white;
  padding: 25px;
  width: 350px;
  border-radius: 8px;
}

.modal-box input {
  width: 100%;
  margin: 8px 0;
  padding: 8px;
  background: black;
  border: 1px solid white;
  color: white;
}

.modal-box button {
  width: 100%;
  background: orangered;
  border: none;
  padding: 8px;
  margin-top: 10px;
  font-weight: bold;
}

.close-btn {
  float: right;
  cursor: pointer;
  font-size: 22px;
}





